@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/drawer.scss";

.base-menu {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}