.exam-page {
  .exam-title {
    text-align: center;
    font-size: 40px;
    padding: 20px;
  }
  .checkedbg {
    background: #f0f9eb;
    color: #67c23a;
    .at-list__item {
      color: #67c23a
    }
  }
  .options {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    .index {
      font-size: 30px;
      padding: 10px 20px;
    }
    .check {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .submit-success {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.6);
    .tips {
      width: 70%;
      background: #fff;
      color: #000;
      padding: 30px;
      border-radius: 20px;
    }
  }

  // taro-ui 卡片样式修改 
  .at-card {
    border-bottom: 0;
  }
  .at-card__content {
    padding: 0 10px;
  }
  .at-card__header-title {
    white-space: inherit;
    font-weight: bold;
  }
  .exam-list-item.at-list__item {
    padding: 10px 0;
    .item-content__info-title {
      white-space: inherit;
    }
  }
}




.exam-result-page {
  .user-info {
    padding: 20px;
    .tel {
      display: flex;
      align-items: center;
    }
    .call-icon {
      margin: 0 5px;
      width: 32px;
      height: 32px;
    }
    .row {
      display: flex;
      justify-content: space-between;
    }
  }
  .error-bg {
    background: #fef0f0;
    color: #f56c6c;
    .at-list__item {
      color: #f56c6c;
    }
  }
  .right-text {
    padding: 10px 20px;
    font-size: 30px;
    color: #999;
  }
}